*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #0da7a7d4;
}

h1{
    font-size: 3rem;
    color: rebeccapurple;
}

label {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 1.3rem;
    font-weight: bold;
}

button{
    background-color: #2952bc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container{
    background-color: aqua;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 55vh;
    width: 40%;
    margin: 200px auto;
    border: 2px solid #060606;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}